{
  "presets": [ [ "env", { "modules": false } ] ],
  "plugins": [
    "external-helpers",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": [ [ "env", { "modules": "commonjs" } ] ]
    }
  }
}