{
  "env": {
    "test": {
      "presets": [ [ "env", { "modules": "commonjs" } ] ],
      "plugins": [ "transform-class-properties" ]
    },
    "production": {
      "presets": [ [ "env", { "modules": false } ] ],
      "plugins": [ "external-helpers", "transform-class-properties" ]
    }
  }
}